body{
    margin: 0px;
    padding: 0px;
    width: 98.78vw;
    height: 100%;
    color: rgb(33, 25, 34);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
}

header{
    display: flex;
    padding: 1.1rem 1rem;
    height: 45px;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    background: #fff;
    font-weight: bold;
}

#nav{
    display: none;
}

.inicio{
    width: 25px;
    height: 25px;
}

.inicio_head{
    display: flex;
    height: 100%;
    align-items: center;
    width: 17rem;
    justify-content: space-around;
    padding: 2px 7px;
}

.menu{
    display: flex;
    height: 120%;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: 30%;
}

#inicio, #crear{
    width: 20%;
}

.inicio_head a{
    text-decoration: none; 
    color: rgb(33, 25, 34);
}

.inicio_head a:focus{
    color: #fff;
    background: #000;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.medio_head{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 53rem;
    height: 45px;
    border: 1px solid #e4e4e4;
    border-radius: 24px;
    background-color: #e4e4e4;
}

input{
    background-image: url('/assets/icons/buscar.png');
    background-repeat: no-repeat;
    background-position:1.5%;
    background-size: 25px;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    border: none;
    outline: none; 
    background-color: #e4e4e4;
    padding-left: 5%;
}

input:hover{
    background: #c5c5c5;
    background-image: url('/assets/icons/buscar.png');
    background-repeat: no-repeat;
    background-position:1.5%;
    background-size: 25px;
}

.final_head{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    justify-content: space-evenly;
}

.final{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19%;
    height: 90%;
}

.final:hover{
    background: #e4e4e4;
    border-radius: 50%;
}

.final:focus{
    background: #000;
}

#navar{
    height: 70%;
    width: 15%;
}

.main{
    background: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 81px;
    box-sizing: border-box;
}

.cuerpo{
    width: 90%;
    height: auto;
    columns: 5;
    column-gap: 20px;
}

.cuerpo .hov{
    width: 100%;
    margin-bottom: 10px;
    break-inside: avoid;
}

.cuerpo .hov img{
    max-width: 220px;
    border-radius: 15px;
    height: auto;
}

@media (max-width: 1200px){

    .medio_head{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 30rem;
        height: 45px;
        border: 1px solid #e4e4e4;
        border-radius: 24px;
        background-color: #e4e4e4;
    }

    #nav{
        display: none;
    }

    input{
        padding-left: 10%;
    }

    .cuerpo {
        width: calc(100% - 40px);
        columns: 3;
        width: 90%;
        height: auto;
        column-gap: 20px;
        padding-left: 6%;
    }
}

@media (max-width: 768px){

    .inicio_head{
        display: flex;
        height: 100%;
        align-items: center;
        width: 10rem;
        justify-content: space-around;
        padding: 2px 7px;
    }
    
    .menu{
        display: none;
    }

    #inicio{
        display: flex;
    }

    #nav{
        display: flex;
    }

    .medio_head{
        width: 18rem;
    }

    .cuerpo {
        columns: 2;
        width: 90%;
        padding-left: 5%;
        column-gap: 20px;
    }
}

@media (max-width: 635px){
    header{
        display: flex;
        padding: 1.1rem 1rem;
        height: 45px;
        width: 635px;
        justify-content: space-between;
        position: fixed;
        background: #fff;
        font-weight: bold;
    }

    .main{
        width: 635px;
    }
}

